#faqs h1{
    text-align: center;
    margin-bottom: 4rem;
}

.faqs__container{
    width: 44%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
   
}
.faq{
    background: var(--color-light);
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border: 1px solid #ddd;
    cursor: pointer;
}
.faq:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}
.faq__icon  {
    font-size: 1.4rem;
    font-weight: 200;
}
.faq__question {
    font-size: 1.2rem;
    font-weight: 500;
}
.faq__answer {
    margin-top: 1rem;
    display: none;
}
.faq.open {
    border-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 2rem 2rem var(--color-primary-variant);
    z-index: 1;
}
.faq.open .faq__answer {
    display: block;
}