
#testimonials h1 {
    text-align: center;
}
.testimonials___container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}
.testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background: var(--color-light);
    padding: 3rem;
   
    font-size: 0.88rem;
    border: 1px solid transparent;
    transition: all 300ms ease;
}
.testimonial:hover {
    background: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-primary);
    box-shadow: 0 2rem 2rem var(--color-primary-variant);
    z-index: 1;
}
.testimonial__client{
    display: flex;
    gap: 1rem;
}